%h1 IdeaBox
= haml :form, locals: {idea: idea}
%h3 Existing Ideas
%ul
  - ideas.each do |idea|
    %li
      %form{action: "/#{idea.id}/like", method: "POST", style: "display: inline"}
        %input{type: "submit", value: "+"}/
      = idea.title
      %br/
      = idea.description
      %br/
      Tagged with:
      - idea.tags.each do |tag|
        %a{href: "/tag/#{tag}"} #{tag}
      %br/
      %a{href: "/#{idea.id}/edit"} Edit
      %form{action: "/#{idea.id}", method: "POST"}
        %input{name: "_method", type: "hidden", value: "DELETE"}/
        %input{type: "submit", value: "delete"}/


%p
  Hours of the day:
  %a{href: "/slot/0"} 00:00AM to 03:59AM
  |
  %a{href: "/slot/1"} 04:00AM to 07:59AM
  |
  %a{href: "/slot/2"} 08:00AM to 11:59AM
  |
  %a{href: "/slot/3"} 12:00PM to 15:59PM
  |
  %a{href: "/slot/4"} 16:00PM to 19:59PM
  |
  %a{href: "/slot/5"} 20:00PM to 23:59PM

%p
  Days of the week:
  %a{href: "/day/1"} Mon
  |
  %a{href: "/day/2"} Tue
  |
  %a{href: "/day/3"} Wed
  |
  %a{href: "/day/4"} Thu
  |
  %a{href: "/day/5"} Fri
  |
  %a{href: "/day/6"} Sat
  |
  %a{href: "/day/7"} Sun

