%h1 IdeaBox
= haml :form, locals: {idea: idea}
%h3 Existing Ideas
%ul
  - ideas.each do |idea|
    %li
      %form{action: "/#{idea.id}/like", method: "POST", style: "display: inline"}
        %input{type: "submit", value: "+"}/
      = idea.title
      %br/
      = idea.description
      %a{href: "/#{idea.id}/edit"} Edit
      %form{action: "/#{idea.id}", method: "POST"}
        %input{name: "_method", type: "hidden", value: "DELETE"}/
        %input{type: "submit", value: "delete"}/

