%h1 Ideabox
%h2 Showing all ideas with the tag #{tag}
%ul
  - if !ideas.empty?
    - ideas.each do |idea|
      %li
        = idea.title
        %br/
        = idea.description
        %br/
        Tagged with:
        - idea.tags.each do |tag|
          %a{href: "/tag/#{tag}"} #{tag}
  - else
    No ideas for this time slot
